In [26]:
#load libraries
import pandas as pd
import json
import requests
from pandas.io.json import json_normalize

In [51]:
#load orders json file


with open('orders.json') as f:
    orders_json = json.load(f)

In [52]:
#flatten json data


orders_df = json_normalize(orders_json)

In [53]:
#add new date only column
orders_df['Date'] = pd.to_datetime(orders_df['created_at']).dt.date

In [54]:
#min and max date
max_date = orders_df['Date'].max()
min_date = orders_df['Date'].min()
print("min date is " + str(min_date) + " and max date is " + str(max_date))

min date is 2020-01-01 and max date is 2020-03-24

In [55]:
CURRENCY_US = "USD"
CURRENCY_CAD = "CAD"

In [57]:
#api url sample  - https://api.exchangeratesapi.io/history?start_at=2018-01-01&end_at=2018-09-01&symbols=ILS,JPY
#"&symbols=" + CURRENCY_US + "," + CURRENCY_CAD + ""
#GET https://api.exchangeratesapi.io/history?start_at=2018-01-01&end_at=2018-09-01&base=USD



url = "https://api.exchangeratesapi.io/history?start_at=" + str(min_date) + "&end_at=" + str(max_date) + "&base=" + CURRENCY_US + "&symbols=" + CURRENCY_CAD

exchange_information = []
response = requests.get(url)
if (response.status_code != 200):
    print("URL is not working")
    
else:
    response = requests.get(url)
    exchange_rates_data = response.json()
    exchange_rates_cad = exchange_rates_data["rates"]
    for exchange_rate_cad in exchange_rates_cad: 
        exchange_information.append([exchange_rate_cad,exchange_rates_cad[exchange_rate_cad]["CAD"]])
    exchange_df = pd.DataFrame(exchange_information)
    #add headers
    exchange_df.columns = ['Date','CAD_RATE']

In [58]:
exchange_df.sort_values(by=['Date'], inplace=True)
exchange_df

          Date  CAD_RATE
55  2020-01-02  1.299830
31  2020-01-03  1.298197
47  2020-01-06  1.297570
0   2020-01-07  1.299678
43  2020-01-08  1.301844
19  2020-01-09  1.305581
7   2020-01-10  1.307186
41  2020-01-13  1.304512
6   2020-01-14  1.307063
42  2020-01-15  1.307216
54  2020-01-16  1.303519
46  2020-01-17  1.305185
30  2020-01-20  1.306901
36  2020-01-21  1.305623
15  2020-01-22  1.304563
29  2020-01-23  1.316292
39  2020-01-24  1.313185
14  2020-01-27  1.318730
34  2020-01-28  1.319037
51  2020-01-29  1.317698
26  2020-01-30  1.321697
45  2020-01-31  1.323471
33  2020-02-03  1.323604
28  2020-02-04  1.327933
10  2020-02-05  1.328495
35  2020-02-06  1.327820
24  2020-02-07  1.331388
27  2020-02-10  1.331385
1   2020-02-11  1.329695
23  2020-02-12  1.325637
38  2020-02-13  1.325665
20  2020-02-14  1.324756
58  2020-02-17  1.322935
49  2020-02-18  1.326276
5   2020-02-19  1.322315
11  2020-02-20  1.325672
40  2020-02-21  1.325803
18  2020-02-24  1.328527
13  2020-02-25  1.328690
48  2020-02-26  1.330483
4   2020-02-27  1.334914
44  2020-02-28  1.344356
57  2020-03-02  1.335821
21  2020-03-03  1.336422
56  2020-03-04  1.335910
25  2020-03-05  1.342719
2   2020-03-06  1.342008
3   2020-03-09  1.362867
8   2020-03-10  1.367779
32  2020-03-11  1.374294
22  2020-03-12  1.381139
53  2020-03-13  1.385897
17  2020-03-16  1.392758
12  2020-03-17  1.412493
9   2020-03-18  1.440369
52  2020-03-19  1.446440
16  2020-03-20  1.424956
37  2020-03-23  1.438375
50  2020-03-24  1.449414

In [60]:
orders_df['Date'] = orders_df['Date'].astype(str)

orders_df.reset_index(drop=True, inplace=True)
exchange_df.reset_index(drop=True, inplace=True)

#merge the exchange information
orders_CAD_df = pd.merge(orders_df, exchange_df, how='left',on = 'Date')

In [61]:
orders_CAD_df

,id,total_price,created_at,line_items,customer.id,customer.name,customer.email,Date,CAD_RATE
0,8369263756632563,79.39,2020-03-07T14:31:11Z,"[{'id': 610448, 'product_id': 632910392, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-07,NaN
1,7262170348080494,86.98,2020-03-01T09:16:30Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-03-01,NaN
2,7722055557038194,36.99,2020-01-01T09:17:03Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-01-01,NaN
3,4280852170163518,55.98,2020-03-10T11:59:46Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-03-10,1.367779
4,5058732129957127,309.98,2020-03-15T07:27:24Z,"[{'id': 604665, 'product_id': 510650809, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-03-15,NaN
5,6431399815998774,315.97,2020-03-12T07:16:07Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-03-12,1.381139
6,5791957346866373,36.99,2020-03-24T09:52:40Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-24,1.449414
7,2079640804901496,55.98,2020-02-19T19:33:57Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-02-19,1.322315
8,2249838395290890,309.98,2020-03-13T12:15:51Z,"[{'id': 604665, 'product_id': 510650809, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-13,1.385897
9,7638742701884072,35.39,2020-03-08T05:28:01Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-03-08,NaN
10,5307192536865304,86.98,2020-03-12T01:40:57Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-12,1.381139
11,8662976573169716,5.99,2020-02-05T10:22:49Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-02-05,1.328495
12,2366621613260728,259.99,2020-01-18T12:46:12Z,"[{'id': 604665, 'product_id': 510650809, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-01-18,NaN
13,9786845594710809,79.39,2020-03-18T13:43:24Z,"[{'id': 771854, 'product_id': 694165761, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-03-18,1.440369
14,6255086600405590,55.98,2020-01-05T09:41:30Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-01-05,NaN
15,5235927587417736,36.99,2020-03-24T07:12:33Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-03-24,1.449414
16,5825547264855968,55.98,2020-01-01T12:59:26Z,"[{'id': 771854, 'product_id': 694165761, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-01-01,NaN
17,1288301820842508,29.40,2020-01-19T03:53:34Z,"[{'id': 610448, 'product_id': 632910392, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-01-19,NaN
18,1104846479586545,86.98,2020-02-22T21:44:05Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-02-22,NaN
19,2212383088430312,142.96,2020-01-22T21:26:52Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-01-22,1.304563

In [81]:
#exchange_df

#Update exchange information since some days are missing
exchange_update = []
daterange = pd.date_range(min_date, max_date)
for single_date in daterange:
    exchange_update.append(single_date.strftime("%Y-%m-%d"))
    exchange_update_df = pd.DataFrame(exchange_update)
    exchange_update_df.columns = ['Date'] #add headers

exchange_update_df = pd.merge(exchange_update_df, exchange_df, how='left',on = 'Date')
#exchange_update_df.fillna(method='ffill')   
#print(exchange_update_df)   



#for i, row in exchange_update_df.iterrows():
    print (row['Date'], row['CAD_RATE'])
    if row(row['CAD_RATE'])
#     i1, row1 = next(df.iterrows())
#     print row1['value']

True

In [ ]:
#perform conversion from USD to CAD
orders_df_CAD['']

In [ ]:
#generate output


#refactor code