In [26]:
#load libraries
import pandas as pd
import json
import requests
from pandas.io.json import json_normalize

In [51]:
#load orders json file
with open('orders.json') as f:
    orders_json = json.load(f)

In [52]:
#flatten json data
orders_df = json_normalize(orders_json)

In [53]:
#add date only column
orders_df['Date'] = pd.to_datetime(orders_df['created_at']).dt.date

In [54]:
#generate min and max date
max_date = orders_df['Date'].max()
min_date = orders_df['Date'].min()

min date is 2020-01-01 and max date is 2020-03-24

In [55]:
#currency information
CURRENCY_US = "USD"
CURRENCY_CAD = "CAD"

In [57]:
#api url setup
url = "https://api.exchangeratesapi.io/history?start_at=" + str(min_date) + "&end_at=" + str(max_date) + "&base=" + CURRENCY_US + "&symbols=" + CURRENCY_CAD

exchange_information = []
response = requests.get(url)
if (response.status_code != 200):
    print("URL is not working")  
else:
    response = requests.get(url)
    exchange_rates_data = response.json()
    exchange_rates_cad = exchange_rates_data["rates"]
    for exchange_rate_cad in exchange_rates_cad: 
        exchange_information.append([exchange_rate_cad,exchange_rates_cad[exchange_rate_cad]["CAD"]])
    exchange_df = pd.DataFrame(exchange_information)
    exchange_df.columns = ['Date','CAD_RATE'] #add headers

In [117]:
exchange_df.sort_values(by=['Date'], inplace=True)

In [60]:
orders_df['Date'] = orders_df['Date'].astype(str)

orders_df.reset_index(drop=True, inplace=True)
exchange_df.reset_index(drop=True, inplace=True)

#merge the exchange information
#orders_CAD_df = pd.merge(orders_df, exchange_df, how='left',on = 'Date')

,id,total_price,created_at,line_items,customer.id,customer.name,customer.email,Date,CAD_RATE
0,8369263756632563,79.39,2020-03-07T14:31:11Z,"[{'id': 610448, 'product_id': 632910392, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-07,NaN
1,7262170348080494,86.98,2020-03-01T09:16:30Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-03-01,NaN
2,7722055557038194,36.99,2020-01-01T09:17:03Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-01-01,NaN
3,4280852170163518,55.98,2020-03-10T11:59:46Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-03-10,1.367779
4,5058732129957127,309.98,2020-03-15T07:27:24Z,"[{'id': 604665, 'product_id': 510650809, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-03-15,NaN
5,6431399815998774,315.97,2020-03-12T07:16:07Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-03-12,1.381139
6,5791957346866373,36.99,2020-03-24T09:52:40Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-24,1.449414
7,2079640804901496,55.98,2020-02-19T19:33:57Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-02-19,1.322315
8,2249838395290890,309.98,2020-03-13T12:15:51Z,"[{'id': 604665, 'product_id': 510650809, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-13,1.385897
9,7638742701884072,35.39,2020-03-08T05:28:01Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-03-08,NaN
10,5307192536865304,86.98,2020-03-12T01:40:57Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-12,1.381139
11,8662976573169716,5.99,2020-02-05T10:22:49Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-02-05,1.328495
12,2366621613260728,259.99,2020-01-18T12:46:12Z,"[{'id': 604665, 'product_id': 510650809, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-01-18,NaN
13,9786845594710809,79.39,2020-03-18T13:43:24Z,"[{'id': 771854, 'product_id': 694165761, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-03-18,1.440369
14,6255086600405590,55.98,2020-01-05T09:41:30Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-01-05,NaN
15,5235927587417736,36.99,2020-03-24T07:12:33Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-03-24,1.449414
16,5825547264855968,55.98,2020-01-01T12:59:26Z,"[{'id': 771854, 'product_id': 694165761, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-01-01,NaN
17,1288301820842508,29.40,2020-01-19T03:53:34Z,"[{'id': 610448, 'product_id': 632910392, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-01-19,NaN
18,1104846479586545,86.98,2020-02-22T21:44:05Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-02-22,NaN
19,2212383088430312,142.96,2020-01-22T21:26:52Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-01-22,1.304563

In [107]:
#Update exchange information since some days are missing - filled using previous and future exchange rates
exchange_update = []
daterange = pd.date_range(min_date, max_date)
for single_date in daterange:
    exchange_update.append(single_date.strftime("%Y-%m-%d"))
    exchange_update_df = pd.DataFrame(exchange_update)
    exchange_update_df.columns = ['Date'] #add header

exchange_update_df = pd.merge(exchange_update_df, exchange_df, how='left',on = 'Date')
exchange_update_df = exchange_update_df.fillna(method='ffill')   
exchange_update_df = exchange_update_df.fillna(method='bfill')

          Date  CAD_RATE
0   2020-01-01  1.299830
1   2020-01-02  1.299830
2   2020-01-03  1.298197
3   2020-01-04  1.298197
4   2020-01-05  1.298197
..         ...       ...
79  2020-03-20  1.424956
80  2020-03-21  1.424956
81  2020-03-22  1.424956
82  2020-03-23  1.438375
83  2020-03-24  1.449414

[84 rows x 2 columns]

In [113]:
orders_CAD_df = pd.merge(orders_df, exchange_update_df, how='left',on = 'Date')

#perform conversion from USD to CAD
orders_CAD_df['CAD_PRICE'] = orders_CAD_df['total_price'] * orders_CAD_df['CAD_RATE']
orders_CAD_df['CAD_PRICE'] = orders_CAD_df['CAD_PRICE'].round(decimals=2)

In [114]:
orders_CAD_FINAL_df = orders_CAD_df[['id','customer.id','customer.name','customer.email','Date','CAD_PRICE']]
orders_CAD_FINAL_df.columns = ['id','customer.id','customer.name','customer.email','date','cad_total_price']