In [1]:
#load libraries
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
import random
from math import sqrt
import warnings
warnings.filterwarnings("ignore")

In [11]:
#load data
dta1 = pd.read_csv("dta1.csv")
dta2 = pd.read_csv("dta2.csv")

## Data Exploration

In [12]:
#shape of data
print("Shape of dta1 is: " + str(dta1.shape))
print("Shape of dta2 is: " + str(dta2.shape))

Shape of dta1 is: (3756, 3)
Shape of dta2 is: (2353, 3)

In [13]:
#check the data
dta1.head()

    user     joined_timestamp  num_auctions_engaged
0  buyer  2016-01-03 02:20:27                    22
1  buyer  2016-01-03 07:57:13                    17
2  buyer  2016-01-05 00:43:05                    25
3  buyer  2016-01-05 03:22:16                    20
4  buyer  2016-01-05 06:15:42                    18

In [14]:
dta2.head()

     user     joined_timestamp  num_auctions_engaged
0   buyer  2018-01-01 03:29:38                    28
1  seller  2018-01-01 05:22:53                    12
2   buyer  2018-01-01 05:33:32                    27
3   buyer  2018-01-01 06:58:19                    28
4   buyer  2018-01-01 12:42:00                    30

Both datasets have the same columns.  user, joined and number of auctions.  No unique identifiers.

In [15]:
#data description
dta1_df.describe()

       num_auctions_engaged
count           3756.000000
mean              21.873802
std                5.694396
min                7.000000
25%               17.000000
50%               22.000000
75%               26.000000
max               39.000000

In [16]:
dta2_df.describe()

       num_auctions_engaged
count           2353.000000
mean              22.937952
std                6.002867
min                9.000000
25%               17.000000
50%               24.000000
75%               28.000000
max               37.000000

In [17]:
#check for missing data
print(dta1_df.isnull().sum())

user                    0
joined_timestamp        0
num_auctions_engaged    0
dtype: int64

In [18]:
#check for missing dta2
print(dta2_df.isnull().sum())

user                    0
joined_timestamp        0
num_auctions_engaged    0
dtype: int64

No missing data which is great.

In [21]:
#check the type of users
print(dta1.user.unique())
print(dta2.user.unique())

['buyer' 'seller']
['buyer' 'seller']

Both datasets have the same user types

In [23]:
#check the date time stamps
print(dta1.joined_timestamp.unique())
print(dta2.joined_timestamp.unique())

['2016-01-03 02:20:27' '2016-01-03 07:57:13' '2016-01-05 00:43:05' ...
 '2017-12-30 05:06:48' '2017-12-30 10:19:54' '2017-12-30 12:00:40']
['2018-01-01 03:29:38' '2018-01-01 05:22:53' '2018-01-01 05:33:32' ...
 '2018-03-31 08:21:23' '2018-03-31 08:27:26' '2018-03-31 09:39:29']

In [28]:
#check min and max date
print ("dta1 min and max dates are: " + str(dta1.joined_timestamp.min()) + " " +  str(dta1.joined_timestamp.max()))
print ("dta2 min and max dates are: " + str(dta2.joined_timestamp.min()) + " " + str(dta2.joined_timestamp.max()))

dta1 min and max dates are: 2016-01-03 02:20:27 2017-12-30 12:00:40
dta2 min and max dates are: 2018-01-01 03:29:38 2018-03-31 09:39:29

The first dataset has a timerange of 12 months and the second one has about 3 months

In [ ]:
#create date column
dta1['joined_date'] = pd.to_datetime(train['joined_timestamp'])

In [ ]:
#create year column, month, day column

In [ ]:
#drop dat

## Visualization

so might have to aggregate the information by the different user types.  I'll add a date column, month, day of week column.

## Modelling

In [ ]:
### Approach 1

In [ ]:
### Approach 2

In [ ]:
## Outcome and Next Steps