In [1]:
#load libraries
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
import random
from math import sqrt
import warnings
warnings.filterwarnings("ignore")

In [2]:
#load data
dta1_df = pd.read_csv("dta1.csv")
dta2_df = pd.read_csv("dta2.csv")

In [5]:
#shape of data
print("Shape of dta1 is: " + str(dta1_df.shape))
print("Shape of dta2 is: " + str(dta2_df.shape))

Shape of dta1 is: (3756, 3)
Shape of dta2 is: (2353, 3)

In [7]:
#data look
dta1_df.describe()

       num_auctions_engaged
count           3756.000000
mean              21.873802
std                5.694396
min                7.000000
25%               17.000000
50%               22.000000
75%               26.000000
max               39.000000

In [8]:
dta2_df.describe()

       num_auctions_engaged
count           2353.000000
mean              22.937952
std                6.002867
min                9.000000
25%               17.000000
50%               24.000000
75%               28.000000
max               37.000000

In [9]:
#check for missing data
print(dta1_df.isnull().sum())

user                    0
joined_timestamp        0
num_auctions_engaged    0
dtype: int64

In [10]:
#check for missing dta2
print(dta2_df.isnull().sum())

user                    0
joined_timestamp        0
num_auctions_engaged    0
dtype: int64

## Exploratory Analysis